.ahg-cardicon--align-center,
.ahg-cardicon-center {
	margin-left: auto;
	margin-right: auto;
}

.ahg-cardicon,
.ahg-cardicon--size-large,
.ahg-cardicon--has-icon svg {
	width: 6em !important;
	height: 6em; 
}